:root {
    --bg-color: #fbfce0;
    --text-color: black;
}

[data-theme="dark"] {
    --bg-color: #111;
    --text-color: white;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}


.blink-me {
    animation: blinking-anim 1s step-start infinite;
}

@keyframes blinking-anim {
    50% {
        opacity: 0;
    }
}

.blink-block-me {
    animation: blinking-block-anim 1s step-start infinite;
}

@keyframes blinking-block-anim {
    50% {
        background-color: var(--bg-color);
    }
}

@media screen and (min-width: 481px) {
    .header, .man-header, .man-content {
        padding: 0 1rem;
    }

    .tabs {
        text-transform: uppercase;
        display: inline-flex;
        justify-content: space-around;
        margin: 0 auto;
        padding: 0;
        width: 100%;
        list-style-type: none;
    }

    .footer-wrapper {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }

    .main {
        padding: 2rem 0;
    }

    
    .footer {
        display: inline-flex;
        list-style-type: none;
        width: 100%;
        margin: 0;
        padding: 0;
        justify-content: space-between;
        background: var(--text-color);
        color: var(--bg-color);
    }
    
    .overview {
        margin: 0 5%;
        display: grid;
        grid-template-columns: 0.4fr 1.6fr;
        grid-gap: repeat(4, auto);
        grid-auto-rows: minmax(1rem, auto);
    }
}

.tab {
    font-size: 1.5rem;
    overflow: hidden;
}

.tab:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
}

.selected {
    background-color: var(--text-color);
    color: var(--bg-color);
}

.text-center {
    text-align: center;
}


.man-header-list {
    display: inline-flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    list-style-type: none;
}

.man-footer {
    width: max-content;
    background-color: var(--text-color);
    color: var(--bg-color);
}

.man-text-title {
    font-weight: bold;
}

.man-text-normal {
    margin: 5%;
}



.overview-name {
    width: max-content;
    height: max-content;
    font-weight: bold;
}


.overview-link, .inverted-overview-link {
    text-decoration: underline;
    color: inherit;
}

.overview-link:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
}

.inverted-overview-link:hover {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.invisible-link {
    color: inherit;
    text-decoration: inherit;
}